*{
    margin: 0;
    padding: 0;
}
.uploadBox{
    width: 60vw;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    border-radius: 5px;
}
.headerUploadBox{
    height: 50px;
    background-color: white;
    display: flex;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgb(218, 217, 217);
}
.titleUploadBox{
    flex: 8;
    color: black;
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
}
.logoutUploadBox{
    flex:2;
}
.logoUploadBox{
    flex:2;
}
.bodyUploadBox{
    background-color: white;
    height: 100%;
    display: flex;
    border-radius: 2px;
}
.logoutButton{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-color: black;
    cursor: pointer;
    border-top-right-radius: 5px;
}
.leftBodyContentBox{
    flex:6;
    border-right: 1px solid rgb(218, 217, 217);
}
.rightBodyContentBox{
    flex:6;

}
.rightBodyContent{
    padding: 10% 20%;
}
.uploadButton{
    background-color: black;
    color: white;
    font-size: 12px;
    letter-spacing: 1.5px;
    border-color: black;
    cursor: pointer;
    padding: 3px 10px;
    margin-top: 30px;
    border-radius: 3px;
}

.customButton1{
    font-size: 7px;
    margin-top: 10px;
    margin-left: 30px;
}